div{
    margin: 20px
}



input{
    border: none;
    border-bottom: 2px solid #222;
    width: 200px;
    &:focus{
        border: none;
        border-bottom: 2px solid #fc7838;
        outline: none;
    }
}

button, select{
    margin: 10px;
    width: 180px;
    font-size: 15px;
    border: 1px solid black;
    transition: 200ms ease-out;
    background-color: #FF651B;
    border-radius: 10px;
    &:disabled{
        background-color: #3F384C;
    }
    &:hover:enabled{
        background-color: #EA804D;
    }
}