<div class="Logo">
<h4>SimpleBookStore</h4>
</div>
<div class="Navbar">
  <div class="Left">
    <app-navbar-item link = '/books' value = "Books"></app-navbar-item>
    <span>|</span>
    <app-navbar-item link = '' value = "Authors"></app-navbar-item>
    <span>|</span>
    <app-navbar-item link = '' value = "Genre"></app-navbar-item>
  </div>
  <input type="test"/>
  <button>Search</button>
  <div class="Rigth">
    <app-navbar-item link = '/login' value = "Login"></app-navbar-item>
    <span>|</span>
    <app-navbar-item link = '/console' value = "Console"></app-navbar-item>
</div>
</div>
