.NavbarItem {
  height: 100%;

  width: auto;
  text-align: center;
  display: table;
  font-size: 20px;
  padding: 10px 30px;
  transition: 200ms linear;
  position: relative;
  &:hover {
    background-color:#EA804D;
    
  }
  a {
    text-decoration: none;
    color: black;
  }

}
.Amount{
  position: absolute;
  background-color: white;
  color: EA804D;
  top:5px;
  right: 5px;
  border-color: 1px solid black;
  border-radius: 100%;
  height: 25px;
  width: 25px;
}

// .NavbarItem:hover{
//     background-color: black;
// }
