.NavbarItem {
  height: 100%;

  width: auto;
  text-align: center;
  display: table;
  font-size: 20px;
  padding: 10px 30px;
  transition: 200ms linear;
  &:hover {
    background-color:#EA804D;
    
  }
  a {
    text-decoration: none;
    color: black;
  }

}

// .NavbarItem:hover{
//     background-color: black;
// }
