.Book{
    margin: 30px;
    border: 1px solid black;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    width: 200px;
    img{
        width: 150px;
        height: 250px;
    }
    div{
        padding: 10px;
    }
    button{
        background-color: #FC7838;
        border: none;
        cursor: pointer;
        height:  30px;
        width: 100px;
        border-radius: 10px;
        transition: 200ms linear;
        &:hover{
          background-color:#EA804D;
        }
    }
}

.Price{
    color: #FF5300;
}

p, h4{
    margin: 10px;
}