.Book {
  margin: 10px;
  border: 1px solid black;
  width: 450px;
  min-height: 400px;
  padding: 5px;
  div {
    display: flex;
    width: 100%;
    img {
      width: 150px;
      height: 250px;
    }
    div {
      text-align: center;
      align-items: center;
      display: block;
      width: 300px;
    }
    h1,
    h2,
    h3 {
      margin: 5px;
    }
    .Buttons {
 
     
      button {
        background-color: #FC7838;
        border: none;
        cursor: pointer;
        height: 30px;
        width: 100px;
        border-radius: 10px;
        margin: 20px;
        transition: 200ms linear;
        &:hover{
          background-color:#EA804D;
        }
      }
    }
  }
}

.Price{
  color: #FF5300;
}
